.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
  &__text {
    max-width: rem(600);
  }
  &__subtitle {
    margin-bottom: rem(14);
  }
  &__image {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
  ul {
    margin-top: 30px;
    padding-left: 20px;
    max-width: rem(800);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
