.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: rem(25) 0;
  justify-content: space-between;
  gap: rem(20) rem(40);
  &__logo {
    font-size: rem(24);
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
    color: inherit;
  }
  &__menu {
    display: flex;
    gap: rem(30);
    list-style: none;
  }
  &__menuLink {
    font-size: rem(14);
    font-weight: 800;
    color: inherit;
    text-decoration: none;
  }
}
