@use "@/styles/mixins";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: mixins.rem(25) 0;
  justify-content: space-between;
  gap: mixins.rem(20) mixins.rem(40);
  color: var(--black);
  &__logo {
    font-size: mixins.rem(24);
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
    color: inherit;
  }
  &__menu {
    display: flex;
    gap: mixins.rem(30);
    list-style: none;
  }
  &__menuLink {
    font-size: mixins.rem(14);
    font-weight: 800;
    color: inherit;
    text-decoration: none;
  }
}
