@import "../../styles/mixins.scss";

.grid {
  margin-bottom: rm(100);
  &__ImgWrapper {
    position: relative;
    aspect-ratio: 540 / 347;
    max-width: rm(540);
    margin-bottom: rm(65);
    color: var(--black);
    @media (max-width: 576px) {
      margin-bottom: rm(30);
    }
  }
  &__title {
    font-size: rm(20);
    font-weight: 500;
    line-height: normal;
    margin-bottom: rm(25);
  }
  &__text {
    font-size: rm(16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: rm(751);
  }
}
